@charset "UTF-8";

.post-link {
  display: flex;
  gap: 1rem;
  align-items: flex-end;
  text-decoration: none;
  line-height: 1;
  color: var(--bs-body-color);
}

.post-date {
  font-size: 0.8em;
}

.post-title {
  font-size: 1.2em;
  text-decoration: underline;
}

.info-data {
  display: flex;
  gap: 1.5rem;
}

.info-data time::before {
  content: '投稿日: ';
}

.info-data p::before {
  content: '投稿者: ';
}